@page
@model MovieTheater.Pages.Tickets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TicketType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TicketType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Account.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TicketDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TicketDetails.TicketDetailsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ticket?.TicketId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
